body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: linear-gradient(to bottom right, rgb(2, 20, 72), black);
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
}
